footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(13, 13, 13);
    background: linear-gradient(90deg, rgba(13, 13, 13, 1) 0%, rgba(26, 26, 26, 1) 33%);
    height: 39px;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    color: #495057;
}
