.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 10rem);
    background-color: aquamarine;
    justify-content: start;
    align-items: center;

    & > div {
        margin-top: 1.5rem;
    }
    .table-controls button {
        background-color: #4ea8de;
        border: none;
        color: #f2f2f2;
        padding: 1rem 2rem;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        margin-right: 3rem;
        font-weight: bold;
        font-size: 1.4rem;

        &:hover {
            background-color: #1e6f9f;
            color: #333333;
        }
    }
}
